<div class="small-12 columns">
	<h2>{{givenName}} {{surName}}</h2>
</div>

<form data-abide>
	<div class="small-12 large-6 columns">
		<fieldset class="widget">
			<legend>Name</legend>
			<div class="collapse row">
				<div class="small-6 columns">
					{{input type="text" value=givenName placeholder="Vorname"}}
				</div>
				<div class="small-6 columns">
					{{input type="text" value=surName placeholder="Nachname"}}
				</div>
			</div>
		</fieldset>
		<fieldset class="widget">
			<legend>Kontaktmöglichkeiten</legend>
				{{#each contactPossibilities}}
				ASD
				{{view Ember.View templateName='contactpossibility'}}
				{{/each}}
		</fieldset>
	</div>
	<div class="small-12 large-6 columns">
		<fieldset class="widget">
			<legend>Daten</legend>
			<div class="row">
				<div class="small-12 columns">
					<label>Geburtsdatum</label>
				  {{input type="date" value=birthDate placeholder="1970-01-01"}}	
				</div>
				<div class="small-12 columns">
					<label>Eintrittsdatum</label>
				  {{input type="date" value=joinDate placeholder="1970-01-01"}}	
				</div>
				<div class="small-12 columns">
					<label>Austrittsdatum</label>
				  {{input type="date" value=resignationDate placeholder="1970-01-01"}}	
				</div>
			</div>
		</fieldset>
		<fieldset class="widget">
			<div class="row">
				<div class="small-6 columns text-center">
					<a {{bind-attr class=":button :secondary isDirty::disabled"}} {{action "revert"}}>Zurücksetzen</a>
				</div>
				<div class="small-6 columns text-center">
					<a {{bind-attr class=":button :primary isDirty::disabled"}} {{action "save"}}>Speichern</a>
				</div>
			</div>
		</fieldset>
	</div>
</form>
