<div class="small-12 columns">
	<h2>{{givenName}}&nbsp;{{surName}}</h2>
</div>

<form data-abide>
	<div class="small-12 large-6 columns">
		<fieldset class="widget">
			<legend>{{t acolytes.name}}</legend>
			<div class="collapse row">
				<div class="small-6 columns">
					{{input type="text" value=givenName placeholderTranslation="acolytes.givenname"}}
				</div>
				<div class="small-6 columns">
					{{input type="text" value=surName placeholderTranslation="acolytes.surname"}}
				</div>
			</div>
		</fieldset>
		<fieldset class="widget">
			<legend>{{t acolytes.contactpossibilities}}</legend>
				{{#each contactPossibilities}}
				{{view Ember.View templateName='contactpossibility'}}
				{{/each}}
		</fieldset>
	</div>
	<div class="small-12 large-6 columns">
		<fieldset class="widget">
			<legend>{{t acolytes.dates}}</legend>
			<div class="row">
				<div class="small-12 columns">
					<label>{{t acolytes.dateofbirth}}</label>
				  {{input type="date" value=birthDate placeholder="1970-01-01"}}	
				</div>
				<div class="small-12 columns">
					<label>{{t acolytes.dateofjoin}}</label>
				  {{input type="date" value=joinDate placeholder="1970-01-01"}}	
				</div>
				<div class="small-12 columns">
					<label>{{t acolytes.dateofresignation}}</label>
				  {{input type="date" value=resignationDate placeholder="1970-01-01"}}	
				</div>
			</div>
		</fieldset>
	</div>
</form>
