<div class="row">
	<div class="small-6 columns">
		<div class="collapse row">
			<div class="small-7 columns">
				{{input type="date" value=date}}
			</div>
			<div class="small-5 columns">
				{{input type="time" value=time}}
			</div>
			<div class="small-12 columns">
				{{input type="text" value=annotation}}
			</div>
		</div>
	</div>
	<div class="small-6 columns">
		{{#each splittedEinteilungen}}
		<div class="collapse row">
			<div class="small-5 columns">
				{{input type="text" value=links.ministrant.shortenedName}}
			</div>
			<div class="small-2 columns text-center"><label class="inline"> und </label></div>
			<div class="small-5 columns">
				{{input type="text" value=rechts.ministrant.shortenedName}}
			</div>
		</div>
		{{/each}}
	</div>
</div>
