

<div class="small-12 columns push-8 large-4">
	<div class="row">
		<div class="small-12 columns">
			<div {{bind-attr class="controllers.application.loggedIn::hide"}}>
				{{t message.loggedIn}}<br />
				<a {{action 'logout' target=controllers.application}} class="button primary">{{t logout}}</a>
			</div>
			<div {{bind-attr class="controllers.application.loggedIn:hide"}}>
				<h2>{{t login}}</h2>
				<form>
					<div class="row">
						<div class="small-12 columns">
							{{input type="email" placeholderTranslation="login.email" value=email}}
						</div>
						<div class="small-12 columns">
							{{input type="password" placeholderTranslation="login.password" value=password}}
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<a {{action 'loginWithEmail' target=controller}} class="button">{{t login}}</a>
						</div>
						<div class="small-8 columns text-right">
							<a {{action 'loginWithFacebook' target=controller}} class="button"><i class="fa fa-facebook"></i></a>
							<a {{action 'loginWithGithub' target=controller}} class="button secondary"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="small-12 columns large-8 pull-4">
	asd
</div>
