
<div class="small-12 large-9 columns">
	{{input type="text" class="headlineedit" value=internalTitle}}
	{{#each s in services}}
	{{render "service" s}}
	{{/each}}


	<hr />

	<a class="small alert button">{{t app.delete}}</a>
	<a class="small default button">{{t schedule.finish}}</a>
</div>

<div class="hide-for-touch large-3 columns">
	<ul class="acolyte-drag-list">
		{{#each acolytes}}
		<li>B</li>
		{{#view App.AcolyteDraggableTextView}}
		A
		{{/view}}
		{{/each}}
	</ul>
</div>

<div class="small-12 columns show-for-touch leftoffcanvas">
	<select id="acolyteselectbox">
		{{#each acolytes}}
			<option {{bind-attr value=id}}>{{shortenedName}}</option>
		{{/each}}
	</select>
</div>
